@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-violet: #9488f0;
  --color-green: #6fdcba;
  --color-blue: #3ca1ed;
  --color-red: #f33f5b;
  --color-orange: #f98654;
  --color-yellow: #f6d083;
  --color-brown: #bc768b;

  --color-grayed: rgba(128, 130, 137, 0.5);
  --color-user: #12b886;

  --background-color-light: #112240;
  --background-color-dark: #091424;
  --background-color-light-rgb: 17, 34, 64;
  --background-color-dark-rgb: 9, 20, 36;

  /** primary **/
  --ion-color-primary: #0bdbfbdd;
  --ion-color-primary-rgb: 11, 219, 251;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #0ac1dd;
  --ion-color-primary-tint: #23dffb;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  background-color: var(--background-color-dark);
  color: var(--ion-color-light-shade);
  color-scheme: dark;
  font-family: "Titillium Web", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}

//////////////////////////////////////////////////
// BREAKPOINTS
//////////////////////////////////////////////////
$screen-breakpoints: (
  xs: 360px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

@each $size, $size-value in $screen-breakpoints {
  .hide-#{$size} {
    @media (max-width: $size-value) {
      display: none !important;
    }
  }
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;

  & > div {
    height: 100%;
  }
}

.global-container {
  position: relative;
  min-height: 100vh;
  background-color: var(--background-color-dark);
  .menu-and-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .menu {
      padding-top: 1.5rem;
    }
    .main-content {
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 1024px) {
  .global-container {
    padding-right: 6rem;
    padding-left: 6rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    .menu-and-content {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      .menu {
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-height: 100vh;
        position: sticky;
        top: 0;
      }
      .main-content {
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 50%;
      }
    }
  }
}

@media (min-width: 768px) {
  .global-container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

button {
  --nextui-radius-medium: 0px;
  &.rectangle {
    border-width: 1px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0px !important;
  }
}

.popover-base {
  &::before {
    background-color: var(--background-color-light) !important;
  }
}

.popover-content {
  background-color: var(--background-color-light);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  &::before {
    background-color: var(--background-color-light);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

em {
  color: var(--ion-color-warning-shade);
  font-style: normal;
}
strong {
  color: var(--ion-color-primary-shade);
  font-weight: normal;
}
